/* Core Settings */
html {
    font-family: sans-serif;
    font-size: 22px;
    color: yellow;
}

img {
    width: 10%;
    height: auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.75rem;
}

h5 {
    font-size: 0.75rem;
}

main {
    width: 100%;
    margin: 0 auto;
    background: rgb(2, 0, 36);
    background-color: transparent;
}

body {
    background-color: #2a2a72;
    background-image: linear-gradient(0deg, #2a2a72 0%, #009ffd 74%);
}

/* Header Section */
header {
    height: 40rem;
    background-image: url("/resources/images/fishing-hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1.5em;
    border-bottom: 2px solid rgba(0, 0, 139, 0.327);
}

#header-container {
    height: 100%;
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;

}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    line-height: 1.5;
    text-align: center;
}

#title h1 {
    text-transform: uppercase;
    color: yellow;
    text-shadow: 0.25rem 0.25rem 0.25rem rgba(59, 59, 240, 0.573);
    letter-spacing: 0.25rem;
}

#title img {
    width: 5em;
    height: 5em;
}

#title p {
    font-weight: bold;
    word-spacing: 0.35rem;
}

nav {
    width: 100%;
}

.nav-ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
}

.nav-ul img {
    border-radius: 1em;
    opacity: .6;
}

.nav-ul img:hover {
    opacity: 1;
    transition: opacity 1s;
}

.land-img {
    width: 10em;

}

.port-img {
    width: 7em;
}

/* About Us Section */

#about-us {
    width: 80%;
    margin: 0 auto;
    height: 28em;
    margin-top: 2rem;
    position: relative;
}

.h2-list {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
}

.h2-list li {
    margin-bottom: 1.5rem;
    color: yellow;
}

#item-two {
    padding-left: 3.5rem;
}

#item-three {
    padding-left: 7rem;
}

#about-us img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

#about-us p {
    background-color: rgba(0, 0, 0, 0.317);
    color: yellow;
    text-align: center;
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    width: 75%;
    left: 15%;
    bottom: 15%;
    z-index: 5;
    line-height: 1.5;
}

/* Member Comments Sections */

#member-posts {
    position: relative;
    height: 28em;
    margin: 2em 0;
}

#member-posts img {
    position: absolute;
    left: 2%;
    height: 100%;
    width: auto;
    border-radius: 0.25rem;
    z-index: 10;
}

.posts-ul {
    z-index: 5;
    position: absolute;
    width: 100%;
    top: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.posts-ul li {
    background-color: rgb(2, 0, 36);
    background-color: linear-gradient(0deg, rgba(2, 0, 36, 1) 62%, rgba(9, 9, 121, 1) 87%, rgba(40, 67, 164, 1) 95%, rgba(101, 184, 249, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2rem 0;
    padding-right: 1rem;
    margin: 2rem 0;
}

.posts-ul p,
.posts-ul h5 {
    max-width: 50%;
    line-height: 1.5;
    font-weight: bold;
}

/* Monthly Highlights Section */
#monthly-highlights {
    width: 80%;
    margin: 0 auto;
}

.highlight-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

#port-img {
    height: 14em;
}

.highlight-ul li {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    line-height: 1.5;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.highlight-ul img {
    height: 10em;
    width: auto;
    border-radius: 0.25rem;
}

.test-div {
    flex-shrink: 1;
}

.highlight-ul p {
    font-weight: 200;
}

/* Partners Section */
#partners {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}

#partners h2 {
    padding-bottom: 2.5rem;
}

#partners h3 {
    padding-bottom: 1.5rem;
}

.partner-div {
    display: flex;
    padding: 2em 0;
    align-items: center;
}

.partner-div div {
    margin-left: 2em;
}

.partner-div img {
    width: 5em;
    height: 5em;
}

.partner-div:hover img {
    width: 6.5em;
    height: auto;
    transition: width 2s;
}

/* Footer Section */
footer {
    max-width: 80%;
    margin: 0 auto;
    font-size: 0.6rem;
    line-height: 1.5;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div h6 {
    max-width: 80%;
}

.footer-div img {
    width: 2.5rem;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer a {
    color: yellow;
    padding: 0 0.5rem;
    font-weight: bold;
}

/* Queries Section */

@media only screen and (min-width: 1000px) {

    #about-us {
        width: 60%;
        height: 42em;
    }

    #about-us p {
        width: 50%;
        bottom: 10%;
        left: 40%;
    }

    #member-posts img {
        left: 25%;
    }

    .highlight-ul li {
        flex-wrap: nowrap;
        text-align: left;
    }

    .footer-div h6 {
        max-width: 50%;
    }

    #monthly-highlights {
        width: 50%;
    }

    #partners {
        width: 50%
    }

    .highlight-ul div {
        margin-left: 2rem;
    }
}

@media only screen and (min-width: 1951px) {
    html {
        font-size: 28px;
    }

    header {
        height: 43em;
    }

}